body {
    margin: 0px;
    overflow: hidden;
}
#basement {
    z-index: 0;
}
#ground {
    z-index: 1;
}
#upper {
    z-index: 2;
}
.ui {
    z-index: 99;
    position: fixed;
}
.object {
    background: blue;
    width: 300px;
    height: 300px;
    position: relative;
}
.floor {
    background: #F99;
    position: fixed;
    top: -1000px;
    left: -1000px;
    width: 2000px;
    height: 2000px;
    padding:1000px;
}
.hidd {
    display: none;
}
