body {
    margin: 0px;
    overflow: hidden;
}
#overlay {
    z-index: 500;
    background: #333;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
    align-items: center;
}
#overlay-title {
    font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
}
#overlay-text {
    width: 80%;
    font-style: italic;
}
#overlay-exit {
    position: absolute;
    top: 0;
    right: 0;
}
#basement {
    z-index: 0;
}
#ground {
    z-index: 1;
}
#upper {
    z-index: 2;
}
#tracker {
    top: 20px;
    left: 20px;
}
#tracker-marker {
    top: 80px;
    left: 10px;
    position: absolute;
}
#haunt {
    top: 0px;
    left: 775px;
    width: 225px;
    height: 100px;
    position: absolute;
}
#floor-chooser {
    top: 200px;
    left: 20px;
}
#tile-deck {
    top: 20px;
    right: 20px;
}
#tile-upper {
    top: 66px;
    left: 50px;
    height: 33px;
    width: 100px;
    position: absolute;
}
#tile-ground {
    top: 99px;
    left: 50px;
    height: 33px;
    width: 100px;
    position: absolute;
}
#tile-basement {
    top: 132px;
    left: 50px;
    height: 33px;
    width: 100px;
    position: absolute;
}
#event-deck {
    top: 240px;
    right: 20px;
}
#item-deck {
    top: 340px;
    right: 20px;
}
#omen-deck {
    top: 440px;
    right: 20px;
}
#dice {
    top: 540px;
    right: 100px;
}
#search {
    top: 540px;
    right: 10px;
}
#character {
    left: 20px;
    bottom: 0px;
}
#speed-container{
    top: 208px;
    left: -9px;
    width: 158px;
    height: 15px;
    position: absolute;
    transform: rotate(72deg);
}
#might-container{
    top: 89px;
    left: 40px;
    width: 158px;
    height: 15px;
    position: absolute;
    transform: rotate(144deg);
}
#sanity-container{
    top: 91px;
    left: 173px;
    width: 158px;
    height: 15px;
    position: absolute;
    transform: rotate(216deg);
}
#knowledge-container{
    top: 216px;
    left: 210px;
    width: 158px;
    height: 15px;
    position: absolute;
    transform: rotate(288deg);
}
#hand {
    bottom: 0px;
    left: 405px;
    right: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
#hand img {
    height: 250px;
}
.ui {
    z-index: 99;
    position: fixed;
}
.object {
    background: blue;
    width: 100px;
    height: 100px;
    position: absolute;
}
.floor {
    background: #F99;
    position: fixed;
    top: -1000px;
    left: -1000px;
    width: 2000px;
    height: 2000px;
    padding:1000px;
}
.hidd {
    display: none !important;
}
.buttons ul {
    padding: 0px;
}
.buttons li {
    display: block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: #444;
    border: 1px solid #CCC;
    background: #FFF;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    text-align: center;
}
.buttons ul > li:first-child {
    border-radius: 5px 5px 0px 0px;
}
.buttons ul > li:last-child {
    border-radius: 0px 0px 5px 5px;
}
.buttons li:hover {
    background: #DDD;
}
.buttons .btn-active {
    background: #DDD;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.2);
}
.buttons .btn-active:hover {
    background: #AAA;
}
.attr-marker {
    position: relative;
    top: 0px;
    width: 44px;
}
.border:hover {
    box-shadow: 0 0 0 3px orange;
    border-radius: 5px;
}
.character-select {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90vw;
}
.character-select > img {
    width: 15vw;
}
