-i https://pypi.python.org/simple
click==7.0
dnspython==1.16.0
enum34==1.1.6 ; python_version < '3.4'
eventlet==0.25.0
flask-socketio==4.1.0
flask==1.1.0
greenlet==0.4.15
itsdangerous==1.1.0
jinja2==2.10.1
markupsafe==1.1.1
monotonic==1.5
python-engineio==3.8.2.post1
python-socketio==4.2.0
six==1.12.0
werkzeug==0.15.4
