body {
    margin: 0px;
    overflow: hidden;
    background: #0A0A0A;
}
#overlay, #help {
    z-index: 500;
    background: #333;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
    align-items: center;
}
#help {
    z-index: 501;
    overflow: auto;
    justify-content: flex-start;
}
#help li {
    margin: 0 0 3px 0;
}
#help a {
    color: grey;
}
#overlay-title, #help-title {
    font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
    margin-top: 32px;
}
#overlay-text {
    width: 80%;
    font-style: italic;
}
#start-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#overlay-exit, #help-exit {
    position: absolute;
    top: 0;
    right: 0;
}
#tracker {
    top: 20px;
    left: 20px;
}
#tracker-marker {
    top: 80px;
    left: 10px;
    position: absolute;
}
#haunt {
    top: 0px;
    left: 775px;
    width: 225px;
    height: 100px;
    position: absolute;
}
#floor-chooser {
    top: 200px;
    left: 20px;
}
#tile-deck {
    top: 20px;
    right: 20px;
}
#tile-upper {
    top: 66px;
    left: 50px;
    height: 33px;
    width: 100px;
    position: absolute;
}
#tile-ground {
    top: 99px;
    left: 50px;
    height: 33px;
    width: 100px;
    position: absolute;
}
#tile-basement {
    top: 132px;
    left: 50px;
    height: 33px;
    width: 100px;
    position: absolute;
}
#event-deck {
    top: 240px;
    right: 20px;
}
#item-deck {
    top: 340px;
    right: 20px;
}
#omen-deck {
    top: 440px;
    right: 20px;
}
#dice {
    top: 540px;
    right: 100px;
}
#search {
    top: 540px;
    right: 10px;
}
#character {
    left: 20px;
    bottom: 0px;
}
#speed-container{
    top: 208px;
    left: -9px;
    width: 158px;
    height: 15px;
    position: absolute;
    transform: rotate(72deg);
}
#might-container{
    top: 85px;
    left: 42px;
    width: 158px;
    height: 15px;
    position: absolute;
    transform: rotate(144deg);
}
#sanity-container{
    top: 91px;
    left: 173px;
    width: 158px;
    height: 15px;
    position: absolute;
    transform: rotate(216deg);
}
#knowledge-container{
    top: 216px;
    left: 210px;
    width: 158px;
    height: 15px;
    position: absolute;
    transform: rotate(288deg);
}
#character-icon {
    width: 160px;
    height: 160px;
    top: 106px;
    left: 104px;
    position: absolute;
    border-radius: 80px;
}
#hand {
    z-index: 98;
    bottom: 0px;
    left: 405px;
    right: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    pointer-events: none;
}
#hand img {
    height: 250px;
    pointer-events: all;
}
.ui {
    z-index: 99;
    position: fixed;
}
.floor {
    background: #000;
    position: fixed;
    top: calc(-2000px + 50vh);
    left: calc(-2000px + 50vw);
    width: 100px;
    height: 100px;
    padding: 2000px;
}
.floor > img {
    height: 100px;
    position: absolute;
    z-index: 0;
}
.bg {
    pointer-events: none;
}
img.object {
    height: 30px;
    width: 30px;
    z-index: 10;
}
img.character {
    height: 30px;
    width: 30px;
    z-index: 15;
}
.hidd {
    display: none !important;
}
.buttons ul {
    padding: 0px;
}
.buttons li {
    display: block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: #444;
    border: 1px solid #CCC;
    background: #FFF;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    text-align: center;
}
.buttons ul > li:first-child {
    border-radius: 5px 5px 0px 0px;
}
.buttons ul > li:last-child {
    border-radius: 0px 0px 5px 5px;
}
.buttons li:hover {
    background: #DDD;
}
.buttons .btn-active {
    background: #DDD;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.2);
}
.buttons .btn-active:hover {
    background: #AAA;
}
.attr-marker {
    position: relative;
    top: 0px;
    width: 44px;
}
.border:hover {
    box-shadow: 0 0 0 3px orange;
    border-radius: 5px;
}
.character-select {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90vw;
}
.character-select > img {
    width: 15vw;
    height: 15vw;
}
.choose-number {
    width: 3em;
    font-size: large;
}
#haunt-chart {
    max-width: 90vw;
    max-height: 70vh;
}
.traitor-btn {
    background: #8698b8;
    border: 2px solid #314668;
    width: 7em;
    border-radius: 5px;
    text-align: center;
    height: 2em;
    line-height: 2em;
    color: #314668;
}
.traitor-btn:hover {
    background: #c4ccdc;
    cursor:pointer;
}
.hero-btn {
    background: #b2d695;
    border: 2px solid #536C3F;
    width: 7em;
    border-radius: 5px;
    text-align: center;
    height: 2em;
    line-height: 2em;
    color: #2d3a22;
}
.hero-btn:hover {
    background: #ceecb6;
    cursor:pointer;
}
.haunt-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.game-select {
    padding: 0px;
}
.game-select > li {
    display: block;
    margin: 3px;
}
.game-select > li > span {
    border: 1px solid;
    margin-right: 20px;
    height: 25px;
    line-height: 25px;
    width: 12em;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
}
.game-select > li > span:hover {
    background: rgba(256,256,256,0.2);
    cursor:pointer;
}
.game-select > li > span.new {
    background: #337ab7;
    border: #337ab7;
}
.game-select > li > span.new:hover {
    background: #5288b7;
}
.game-select > li > span.delete {
    width: 5em;
    background: #d9534f;
    border: #d9534f;
}
.game-select > li > span.delete:hover {
    background: #d98582;
}
#help-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 62px;
    height: 62px;
    border-radius: 31px;
    animation-duration: 3s;
    animation-name: breathe;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#help-btn:hover {
    box-shadow: 0 0 0 3px orange;
    animation: none;
}
#help-btn > img {
    margin: -9px;
}
@keyframes breathe {
    from {
        background: rgba(200,200,200,0.2);
        box-shadow: 0 0 50px 0 rgba(255,255,255,0.5);
    }
    to {
        background: rgba(200,200,200,0);
        box-shadow: 0 0 0 0 rgba(255,255,255,0.5);
    }
}
