<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <link href="/static/css/index.css" rel="stylesheet">
  <body>
    <div id="help" class="hidd">
      <div id="help-title">
        Help and Controls
      </div>
      <div id="help-content">
        <h3>Welcome to Betrayal at the House on the Hill</h3>
        <p>Betrayal at the House on the Hill and its expansions are owned by Wizards
          of the Coast, Avalon Hill, Hasbro and Lone Shark Games.</p>
        <p>Buy the game, it's awesome!</p>
        <p>A copy of the rules can be found <a target="_blank" href="/static/pdf/betrayal_rules.pdf">
          here</a> (Warning: 98MB pdf). Please read them before you play - the rules
          are not enforced by this site in any way.</p>
        <h3>Controls</h3>
        <ul>
          <li>If you ever get stuck just refresh (<strong>F5</strong>)- the server saves everything</li>
          <li>Hit the "h"-key to get this help (so long as you're not in the menus).
          <li>Click and drag to move tokens, tiles and markers around</li>
          <li><strong>Shift</strong>-click to <strong>Sh</strong>ow tokens or tiles fullscreen</li>
          <li><strong>Ctrl</strong>-click to delete tokens or tiles</li>
          <li><strong>Ctrl+Shift</strong>-click to rotate tokens or tiles by 90 degrees</li>
          <br>
          <img src="/static/img/char_centre.jpg" height=250 style="float:right">
          <li>Click on the centre of your Character's image to add a token to the
            Current floor. This is useful for going up and down stairs.</li>
          <br>
          <br>
          <li>To change floors, choose the initial on the left: B for basement, G for
            ground and U for upper</li>
          <li>Click on the dice symbol to roll the dice</li>
          <li>Click on the search button then type part of a name to draw specific
            cards, tiles or tokens. Click on one of the search results to add it.</li>
          <br>
          <img src="/static/img/tile_select.jpg" height=250 style="float:left;margin:0 40px 0 -40px">
          <li>Click on the tile deck to draw a new tile. You may choose to limit
            your selection to one floor by hovering over that floor before clicking</li>
      </div>
      <div id="help-exit" class="border"><img src="/static/img/exit.png" width=80></div>
    </div>
    <div id="overlay" class="">
      <div id="overlay-title">
        <img src="/static/img/Betrayal_logo.png">
      </div>
      <div id="overlay-content">
        <div style="height: 50vh;">
          <img src="/static/img/Betrayal_preloader.jpg" style="height:100%;min-height:600px">
        </div>
      </div>
      <div id="overlay-text">
        Loading...
      </div>
      <div id="overlay-exit" class="border hidd"><img src="/static/img/exit.png" width=80></div>
    </div>
    <div class="floor hidd" id="basement">
      <img src="/static/img/board_basement_landing.jpg" class="bg">
    </div>
    <div class="floor" id="ground">
      <img src="/static/img/board_entrance_hall.png" class="bg">
    </div>
    <div class="floor hidd" id="upper">
      <img src="/static/img/board_upper_landing.jpg" class="bg">
    </div>
    <div class="ui" id="tracker">
      <img src="/static/img/tracker.png"/>
      <div id="tracker-marker">
        <img src="/static/img/marker.png"/>
      </div>
      <div id="haunt"></div>
    </div>
    <div class="ui buttons" id="floor-chooser">
      <ul>
        <li id="floor-U">U</li>
        <li id="floor-G" class="btn-active">G</li>
        <li id="floor-B">B</li>
      </ul>
    </div>
    <div class="ui" id="tile-deck">
      <img id="tile-img" src="/static/img/Tile_.png" width="200" height="200"/>
      <div id="tile-upper" class="border"></div>
      <div id="tile-ground" class="border"></div>
      <div id="tile-basement" class="border"></div>
    </div>
    <div class="ui" id="hand">
    </div>
    <div class="ui" id="event-deck">
      <img src="/static/img/event.jpg" width="155" height="79"/>
    </div>
    <div class="ui" id="item-deck">
      <img src="/static/img/item.jpg" width="155" height="79"/>
    </div>
    <div class="ui" id="omen-deck">
      <img src="/static/img/omen.jpg" width="155" height="79"/>
    </div>
    <div class="ui border" id="dice">
      <img src="/static/img/dice.png" height="80">
    </div>
    <div class="ui border" id="search">
      <img src="/static/img/search.png" height="80">
    </div>
    <div class="ui" id="character">
      <img src="/static/img/char_Brandon_Jaspers.png" width="365" />
      <div id="speed-container">
        <div id="speed-marker" class="attr-marker">
          <img src="/static/img/marker.png">
        </div>
      </div>
      <div id="might-container">
        <div id="might-marker" class="attr-marker">
          <img src="/static/img/marker.png">
        </div>
      </div>
      <div id="sanity-container">
        <div id="sanity-marker" class="attr-marker">
          <img src="/static/img/marker.png">
        </div>
      </div>
      <div id="knowledge-container">
        <div id="knowledge-marker" class="attr-marker">
          <img src="/static/img/marker.png">
        </div>
      </div>
      <div id="character-icon" class="border"></div>
    </div>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/fuse.js"></script>
    <script src="/static/js/socket.io.js"></script>
    <script src="/static/js/UI.js"></script>
    <script src="/static/js/data.js"></script>
    <script src="/static/js/game.js"></script>
    <script src="/static/js/index.js"></script>
    <div id="loader">
      <img src="/static/img/Tile_b.png">
      <img src="/static/img/Tile_g.png">
      <img src="/static/img/Tile_u.png">
      <img src="/static/img/Tile_bgu.png">
      <img src="/static/img/char_Brandon_Jaspers.png">
      <img src="/static/img/char_Darrin_Williams.png">
      <img src="/static/img/char_Father_Reinhardt.png">
      <img src="/static/img/char_Heather_Granville.png">
      <img src="/static/img/char_Jenny_LeClerc.png">
      <img src="/static/img/char_Madam_Zostra.png">
      <img src="/static/img/char_Missy_Debourde.png">
      <img src="/static/img/char_Ox_Bellows.png">
      <img src="/static/img/char_Peter_Akimoto.png">
      <img src="/static/img/char_Professor_Longfellow.png">
      <img src="/static/img/char_Vivian_Lopez.png">
      <img src="/static/img/char_Zoe_Ingstrom.png">
    </div>
  </body>
</html>
